 <header>
  </header>
  <h1>Welcome to Jerry's version of Twitter.</h1>
  
    <body>
      <%=link_to "つぶやきの一覧", tweets_path, class: 'btn btn-default btn-sm btn-success' %>
</body>
  <footer>
    <p>made by Jerry</p>
  </footer>